<slider>
	<link rel="stylesheet" href="css/layouts/main/slider.css">

	<div id="slider-container">
		<div id="slides">
			<div class="slide">
				<div class="tag">This is a beautiful greenery</div>
				<img src="images/slider/nature.jpg" alt="Slide" onclick="startStopSlider()">
			</div>
			<div class="slide">
				<div class="tag"></div><img src="images/slider/water.jpg" alt="Slide" onclick="startStopSlider()">
			</div>
			<div class="slide">
				<div class="tag"></div><img src="images/slider/greenery.jpg" alt="Slide" onclick="startStopSlider()">
			</div>
			<div class="slide">
				<div class="tag"></div><img src="images/slider/banner.jpg" alt="Slide" onclick="startStopSlider()">
			</div>
		</div>

		<button id="prev" onclick="prevSlide()">❮</button>
		<button id="next" onclick="nextSlide()">❯</button>
	</div>

<!--
	<div id="toggle-window" class="toggle-window-container" style="display: none;">
		<button onclick="startSlider()">Start Slider</button>
		<button onclick="stopSlider()">Stop Slider</button>
		<button onclick="addSlide()">Add Slide</button>
		<button onclick="deleteSlide()">Delete Slide</button>
		<button onclick="deleteAllSlides()">Delete All</button>
		<script src="js/layouts/main/slider.js"></script>
	</div>
	<button id="toggle-button" onclick="toggleChat()">Open Slider Oprions</button>
	<script src="js/toggleWindowButton.js"></script>-->
</slider>