<year>
	<div class="years-container">
		<a href="#">
      <img src="nature.jpg" alt="Image 1">
    </a>
    <a href="#">
      <img src="nature.jpg" alt="Image 2">
    </a>
    <a href="#">
        <img src="nature.jpg" alt="Image 2">
      </a>
      <a href="#">
        <img src="nature.jpg" alt="Image 2">
      </a>
      <a href="#">
        <img src="nature.jpg" alt="Image 2">
      </a>
      <a href="#">
        <img src="nature.jpg" alt="Image 2">
      </a>
      <a href="#">
        <img src="nature.jpg" alt="Image 2">
      </a>
      <a href="#">
        <img src="nature.jpg" alt="Image 2">
      </a>
		
	</div>
</year>