<aboutYears id="aboutYears">
	<link rel="stylesheet" href="css/layouts/aboutYears.css">

	<h1>About the Classes</h1>
	<hr>
	<div class="years-container">
		<a href="getAllStudents">
			<img src="images/slider/years.jpg" alt="Image 1">
		</a>
		<a href="#">
			<img src="images/slider/years.jpg" alt="Image 2">
		</a>
		<a href="#">
			<img src="images/slider/years.jpg" alt="Image 2">
		</a>
		<a href="#">
			<img src="images/slider/years.jpg" alt="Image 2">
		</a>
		<a href="#">
			<img src="images/slider/years.jpg" alt="Image 2">
		</a>
		<a href="#">
			<img src="images/slider/years.jpg" alt="Image 2">
		</a>
		<a href="#">
			<img src="images/slider/years.jpg" alt="Image 2">
		</a>
		<a href="#">
			<img src="images/slider/years.jpg" alt="Image 2">
		</a>
		<!-- Add more images as needed -->
	</div>
</aboutYears>